.img1{
  background-color: #081224;
}
.header {
  list-style: none outside none;  padding:20px;
   }
  li {
   float: left; margin: 0 10px;
    }
    .container-fluid{
	    padding-right: 0px;
      padding-left: 0px;


  }
  #img2{
    padding: auto;
  }
  .new{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    display: flex;
  }
 */

.info{

	width: 200px;

	font-size: 10px;
	float: left;
}
.info1{
	 position: relative;
}
div#my-div {
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	 position: absolute;
	 margin:-25% 75px;

	width: 50px;
	height: 50px;
	background:#01D099;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	--border-radius: 25px;
	border-radius: 25px;
}
.footer{
  list-style: none;
  color: white;
}
.footer1{
  color: white;
  background-color: #081224;
  padding:25px;
  font-size:18px;

}

#carouselExampleIndicators{
  position: relative;
}

.carousel1{
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

/* sua; */
.tintuc .item .item-left{
  padding: 0;
}
.tintuc .item .item-left img{
  width: 100%;
  height: 100%;
}
.tintuc .item .item-right{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.tintuc .item .item-right .date{
  color: #00CD97;
}
.tintuc .item{
  margin-bottom: 30px;
}
.item2 {
  padding: 0px;
  border: 3px solid transparent;
  background-clip: padding-box;
  box-model: border-box;
}
.col-3{
  width: 100%;
  padding: 0;
}
#player{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}


.header {
  display:flex;
  align-items: center;
}

.icon span{
  color: aliceblue;
  padding-right: 5px;
}
 .btn-click input{
    background-color: #262F3E !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
 }

 .btn-click button{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #262F3E !important;
  border: none;
  border-left: 1px solid red;
 }
 .new1{
   color: #00CD97;
 }
ul li .home1 {

  color:#00CD97;
}
ul{
  list-style: none;
}
.card-body1{
  background-color: #081224;
}

